body{
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.avatar {
    border-radius: 5px;
    margin-right: 40px;
    width: 150px;
    height: 150px;
    margin: auto 0px;
    border: 2px solid #2b2839;
}

.card {
    background-image: url("../images/card-back.jpg");
    background-size:auto;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    text-align:center;
    color:#2b2839;
    background-color: #ddebf8;
    border-left: 1px solid #84828d;
    border-top: 1px solid #84828d;
    border-bottom: 4px solid #84828d;
    border-right: 4px solid #84828d;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;

}

